@import url('fonts/font.css');
body{
	 direction:rtl;
	background: #E5E5E5;
}
*{
	margin:0px;
	padding:0px;
	 box-sizing: border-box;
	
}
#bakset,#head{
	display: flex;
	flex-direction: column;
}
#bakset{
	margin:auto;
	width:22.5rem;
	height:80.1rem;
	align-items: space-between;
}
#head{
	padding:0.4rem 0.6rem ;
	width:100%;
	height:6.3rem;
	background: white;
}
#headtop,#logo{
	display: flex;
	align-items: center;
}
#headtop{
	width:100%;
	flex-direction: row;
}
#search{
	height: 2.5rem;
	position: relative;
	padding: 0px 10px;
	margin-top:1rem;	
} 
#logo{
	justify-content: space-between;
}
#Type{
	margin-right: 0.2rem;
}
#Type + img{
	margin-right: 0.2rem;
}
#buttonsell{
	margin-right:auto;
	padding:0rem 0.6rem;
	height:2rem;
	background-color:#3E3E3E;
	border-radius:6.25rem;
}
#buttonsell h5,#circule div h5{
	font-family: IRANSans;
	font-size:0.75rem;
	color:white;
	font-style: normal;
}
#buttonsell h5{
	text-align: Center;
	font-weight: normal;
	margin-top:6.5px;
}
#pocket{
	margin-left: 0.5rem;
	margin-right:0.6rem;
	position: relative;	
}	
#circule{
	width:1.1rem;
	height:1.3rem;
	position:absolute;
	left:-0.8rem;
	top:-0.62rem;
}
#circule div{
	width:1.1rem;
	height:1.1rem;
	border-radius:50%;
	background-color:#DF3856;
    text-align: center;
}
#circule div h5{
	font-weight: bold;
}
#search input{
	height: 40px;
	border-radius: 100px;
	border:1px solid #9D9D9D ;
	width:100%;
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	display: flex;
	align-items: center;
	text-align: right;

}
placeholder{

	color: #7D7D7D;

}
#search input:focus {
	outline: none;
}
#search img{
	position: absolute;
	top:9.98px;
	left:17.98px;
}
#buttoncontainer,#buttoncontainer+div{
	display: flex;
	flex-direction: row;
}
#buttoncontainer{
	border-top: 0.5rem solid#E5E5E5;
}
#buttoncontainer+div{
	width:100%;
	background-color:white;
	flex-wrap: wrap;
}
#basktsll + button,#basktsll{
	height:2.5rem;
	width:50%;
	background-color:white;
	border-right: white;
	border-left: white;
	border-top: white;
}
#basktsll{
	border-bottom:2px solid  #DF3856;
}
#basktsll + button{
	border-bottom:2px solid #DFDFDF;
}
#basktsll h5{
	color:#DF3856;
}
#basktsll + button h5{
	color:#7D7D7D;
}
h5{
	font-family: IRANSans;
	font-style: normal;
}
#basktsll + button h5,#basktsll h5{
			font-size:0.875rem;
			font-weight: bold;
}
.tit,#second{
	display: flex;
	flex-direction: row;
	width:100%;
	height: 205px;
	flex-wrap: wrap;
	justify-content: space-between;
	justify-content:flex-start;
	background-color: white;
	padding:0.8rem 1rem;
}
.tit h5{
	color:#3E3E3E;
}
.tit > h5:first-child{
	width:14%;
	height: 22px;
	font-family: IRANSans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0em;
	text-align: center;
}
.tit > h5:nth-child(2){
	width:86%;
	height:1.3rem;
}
.tit > img{
	height:2.5rem;
}
.locinfo{
	margin-left:auto;
	width: 85%;
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	height:2rem;
	
}
.locinfo img{
	width: 0.6rem;
	height:0.8rem
}
.locinfo> h5:first-child{
	font-family: IRANSans;
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 400;
	width:100%;
}
.locinfo img+h5{
	font-family: IRANSans;
	font-size:0.62rempx;
	font-style: normal;
	font-weight: 400;
}
.locinfo + img{
	width: 5.1rem;
	height: 5.1rem;
}
.infoprod,.infoprod div{
		display: flex;
	flex-direction: row;
}
.infoprod{
	margin-left:auto;
	width: 75%;
	height:5.1rem;
	flex-wrap:wrap;
	justify-content:space-between;
}
.infoprod div{
	position: relative;
	margin-right: auto;
}
.infoprod  h5,.infoprod div  h5:first-child,.infoprod div h5:nth-child(2),.infoprod + div div:nth-child(2) h5,.freesend,.sellc h5,.sellc + div h5,#pay2 .freesend h5{
		font-family: IRANSans;
		font-size: 0.75rem;
		font-style: normal;
		font-weight: 400;
}
.infoprod  h5{
	width: 98%;
}
.infoprod div  h5:first-child {
	position: absolute;
	left:-72px;
	top:-10px;
	}
.infoprod div h5:nth-child(2){
	color: #9D9D9D;
	margin-right: auto;
}
.infoprod + div{
	display:flex;
	justify-content: space-between;
}

.infoprod + div div:nth-child(2){
	
	margin-left: 4.5px;
	margin-right: 4.5px;
	height:1.4rem;
	border: 2px solid #EEEEEE;
	border-radius: 0.5rem;
	padding: 0rem 0.5rem;
}
.infoprod + div div:nth-child(2) h5{
	text-align: center;
}
.butt{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #EEEEEE;
	height: 24px;
	width: 24px;
	border-radius: 100px;
}
.tit > .butt,#second > .butt {
	margin-right:4.5%;
}
.tit > .butt + h5 ,#second > .butt + h5 {
	font-family: IRANSans;
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	color: #7D7D7D;
	text-decoration: underline dotted 1px #7D7D7D;
	margin-right: auto;
}
#second,.pay
{
	width: 100%;
	border-top: 0.2rem solid#E5E5E5;
	padding:0.8rem 1rem;
	background-color:white;
}
.pay{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	height: 146.51px;
	border-bottom: 3px solid  #E5E5E5;
}
#second > img{
	width:5.1rem;
	height:5.1rem;
}
#pe{
	color:#3E3E3E;
}
.freesend{
	width: 100%;
	background-color: #DFF5F1;
	display: flex;
	height: 1.75rem;
	justify-content: flex-start;
	padding: 0.3rem 0.5rem;
	color:#00786C;
}
.freesend h5 + h5{
	font-weight: 800;
	}
.butsell{
	display: flex;
	justify-content: flex-end;
	padding: 0.5rem 0rem;
	height:2rem;
	background-color:white;
	width: 100%;
}
.butsell h5{
	display: flex;
	align-items: center;
	padding:0rem 0.6rem;
	color:#3E3E3E;
	height: 1.5rem;
	font-family: IRANSans;
	font-size: 0.6rem;
	font-style: normal;
	font-weight: 700;
	background-color:#EEEEEE;
	border-radius:6.25rem;
}
.sellc{
	background-color:  #DF3856;
	height:2rem;
	border-radius: 6.25rem;
	padding: 0.25rem 0.6rem;
}
.sellc h5{
	color:white;
}
.sellc + div{
	margin-right: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.sellc + div h5:first-child{
	color: #535353;
}
.sellc + div h5:nth-child(2){
	text-align: left;
}
.sellc + div h5:nth-child(3){
	position: absolute;
	top:15px;
	left:2px;
}
#pay2{
	height: 7.3rem;
}
#pay2 + div{
	width: 100%;
	height: 117.38px;
	background-color: #E5E5E5;
}
#pay2 .freesend {
	background-color: #E5E5E5;
	padding: 0px ;
}
#pay2 .freesend h5{
	display: flex;
	align-items: center;
	line-height:1.1rem;
	letter-spacing: 0rem;
	text-align: right;
	}
#pay2 .freesend  h5:first-child{
	background-color:#DFF5F1;
	}
#pay2 .freesend  h5:nth-child(2){
	color: #3E3E3E;
	}
#pay3{
		height: 75px;
	}